*,
*::after,
*::before {
    box-sizing: border-box;
}
/* globales */
h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
p{
    text-transform: uppercase;
    font-size: 1rem;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(../landing-form-vilo-master/assets/images/ELEMENTO\ 2.svg);
}
textarea{
    background-color: transparent;
    border: 2px solid rgb(4, 147, 183);
    border-radius: 1.5rem;
    color: #fff;
    outline: none;
    margin: 0 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
input{
    font-size: 1rem;
}
legend{
    width: 400px;
    text-align: center; 
    color: transparent;
}
fieldset{
    margin: 0 auto;
    width: 100%;
    border: 2px solid rgb(14, 186, 212); padding: 0;
    border-radius: 10px;
}
/* utilidades */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

.text-p{
    color: white; 
    text-align:center;
}
.borde-azul{
    width: 80%;
    margin: 10px  auto 30px auto; 
    border: 2px solid rgb(4, 147, 183); 
    border-radius: 1.5rem;
    padding: 0.8rem;
}

.background-primary {
    background-image: url("../images/fondo-vilo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.border-blue-custom{
    border: 2px solid rgb(35, 134, 165);
    border-radius: 10px;
}
.border-l-blue{
    border-right: 2px solid rgb(35, 134, 165);
}
.outline-none{
    border: none;
    outline: none;
}
.letter-space{
    letter-spacing: 10px;
}

.cuadrado-custom {
    width: 44px;
    height: 44px;
    
}

.checkActive{
    margin-bottom: 20px;
    vertical-align: middle;
    color: rgb(4, 147, 183);
    font-size: 30px;
    opacity:100%;
    }

.checkInactive{
    opacity: 0;
}

label{
    background: transparent;
    border: 2px solid  rgb(4, 147, 183);
    border-radius: 15px;
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align:middle;
    margin-left: 10px;
}

input[type=checkbox] {
    opacity: 0;
}
