*,
*::after,
*::before {
    box-sizing: border-box;
}
/* globales */
h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
p{
    text-transform: uppercase;
    font-size: 1rem;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(../landing-form-vilo-master/assets/images/ELEMENTO\ 2.svg);
}
textarea{
    background-color: transparent;
    border: 2px solid rgb(4, 147, 183);
    border-radius: 1.5rem;
    color: #fff;
    outline: none;
    margin: 0 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
input{
    font-size: 1rem;
}
legend{
    width: 400px;
    text-align: center; 
    color: transparent;
}
fieldset{
    margin: 0 auto;
    width: 100%;
    border: 2px solid rgb(14, 186, 212); padding: 0;
    border-radius: 10px;
}
/* utilidades */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

.text-p{
    color: white; 
    text-align:center;
}
.borde-azul{
    width: 80%;
    margin: 10px  auto 30px auto; 
    border: 2px solid rgb(4, 147, 183); 
    border-radius: 1.5rem;
    padding: 0.8rem;
}

.background-primary {
    background-image: url("../images/fondo-vilo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* seccion 1 */
.titSeccion1{
    margin-bottom: 40px;
}
@media (min-width: 1009px){
    .parrafos{
        line-height: 0.5;
        margin-bottom: 5rem;
    }
}
/* seccion 4 */
.flex{
    display: flex;
}

/* seccion formulario */
.form{
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.form label{
    width: 75%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(4, 147, 183);
    border-radius: 20px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.f-2 textarea{
    margin: 0 auto;
    width: 100%;
}
.form span{
    font-size: 1.3rem;
    color: rgb(4, 147, 183);
    margin: 0 15px 0 15px;
    padding: 0;
}
.form input{
    border: 2px solid rgb(4, 147, 183);
    border-radius: 8px;
    padding: 0.1rem;
}
.textt textarea{
    border: none;
}
.f-8{
    margin-bottom: 100px;
}
.f-8 legend{
    width: 50%;
}
#coment-l{   
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
@media (min-width: 768px) {
    .form label{
        width: 78%;
        padding: 0.4rem 2rem 0.4rem 2rem;
        margin-bottom: 30px;
    }
    .f-2 label{
        width: 75%;
    }
    .f-2 textarea{
        margin: 0;
        width: 52%;
    }
    .f-4 label{
        width: 40%;  
    }
    .f-6 label{
        width: 85%;  
    }
    #campo-text{
        margin-right: 10px;
        width: 35%;
        vertical-align: top;
    }
    #coment-l{   
        letter-spacing: 15px;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
}
/* editando el checkbox */
input[type=checkbox] {
    display: none;
}
.check{
    background: transparent;
    border: 2px solid  rgb(4, 147, 183);
    border-radius: 15px;
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align:middle;
    margin-left: 10px;
}
.check img{
    color: rgb(4, 147, 183);
    font-size: 30px;
}
/* comentarios */
.img-comentarios img{
     height: 90px;
}
@media (min-width: 768px) {
    .img-comentarios img{
        margin: -30px auto 10px auto;
    }
}